.info-content{
    margin-top: 40px;
    color: #4f4f4f;
}

.info-content-mobile{
    display: none;
}

.row{
    display: flex;
    align-items: center;
}

.row-reversed{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.image {
    float: left;
    position: relative;
    max-width: 100%;
    height: auto;
}

.text {
    float: right;
    width: 47%;
    padding-left: 35px;
    font-size: 1.125em;
    line-height: 1.7;
    margin: auto;
    font-family: "Montserrat", sans-serif;
}

.header-text{
    margin: 0 0 15px;
    text-align: left;
    font-weight: 400;
    font-size: 1.3em;
    font-family: "Josefin Sans", sans-serif;
}

.button{
    background-color: #814d08;
    border: black;
    color: white;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.42;
    font-weight: 400;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
}

.button:hover{
    background-color: #b46b0a;
}

.image-reversed {
    float: right;
    position: relative;
    max-width: 100%;
    height: auto;
}

.image-mobile{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.text-mobile{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 20px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 42px;
}

.text-reversed {
    float: left;
    width: 50%;
    padding-right: 35px;
    font-size: 1.125em;
    line-height: 1.7;
    margin: auto;
    font-family: "Montserrat", sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 770px) {
    .row{
        flex-direction: column;
    }

    .row-reversed{
        flex-direction: column;
    }

    .text{
        padding: 0;
        float: none;
        width: auto;
        margin-top: 35px;
    }

    .text-reversed{
        padding: 0;
        float: none;
        width: auto;
        margin-top: 35px;
    }
}
