.product{
    float: left;
    width: 20%;
    height: auto;
}

.product-image{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.product-image-small{
    max-width: 100%;
    height: auto;
}

.product-details{
    max-width: 232px;
    text-align: center;
    margin: auto;
}

.product-title{
    font-size: 0.9em;
    line-height: 1.4;
    font-weight: 700;
    color: #4f4f4f;
    margin-bottom: 5px;
    cursor: pointer;
}

.product-smaller-details{
    display: flex;
    align-content: center;
    justify-content: center;
}

.product-price{
    font-size: 0.75em;
    line-height: 1.5;
    color: #696969;
    margin-top: 0px;
    margin-bottom: 0px;
}

.product-heart{
    width: 12px;
    height: 12px;
    margin-top: 3.5px;
    margin-left: 10px;
    cursor: pointer;
}

.product-stock{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: -40px;
    margin-top: 0px;
}

.product-stock-identifier{
    width: 7px;
    height: 7px;
    margin: 5.5px;
    border-radius: 50%;
    background: #518827;
}

.product-stock-status{
    margin: 0px;
    font-size: 13px;
}

@media only screen and (max-width: 770px) {
    .product{
        width: 47.5%;
    }
}